@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 fw-bold mb-3 text-dark">Welcome to the Sample Booking System</h1>
        <p class="lead text-secondary">We’re glad to have you here!</p>
    </div>

   @*  <div class="mt-4">
        <p class="fs-5 text-dark">
            This system is designed to streamline the process of booking and managing your sample requests efficiently.
        </p>
        <p class="fs-5 text-dark">
            Whether you're scheduling a test, submitting a request, or tracking the status of your bookings,
            our platform offers a user-friendly and reliable experience.
        </p>
    </div> *@
</div>
<hr />
@if (ViewBag.Instruments != null)
{
    <h2 class="text-center text-decoration-underline">Scientific Instruments</h2>
    <br />
    foreach (var item in ViewBag.Instruments)
    {
        <div class="card mb-3">
            <div class="card-header bg-success text-white">
                @item.InstrumentName
            </div>
            <div class="card-body">
            @*     <p><strong>Manufacturer:</strong> Shimadzu</p> *@
                <p><strong class="text-danger">Description:</strong> @item.Remarks.</p>
               @*  <p><strong>Status:</strong> Under Maintenance</p> *@
            </div>
        </div>
    }
}